node_modules
.DS_Store
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
functions/lib/
functions/node_modules/
.runtimeconfig.json

# Env
.env
.env.*
!.env.example

# Sources
source/
